@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
    background: #f6faff;
    color: #0f172a;
}

* {
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #eaf5ff;
}

::-webkit-scrollbar-thumb {
    background: #0092ff;
    border: 2px solid #eaf5ff;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #007acc;
}


@font-face {
    font-family: 'Industry';
    src: url('/IndustryTest-Bold.otf') format('opentype'); 
    font-weight: bold;
    font-style: normal;
  }
